@import 'variables';

@mixin text-size($name) {
    font-size: var(--yc-text-#{$name}-font-size);
    line-height: var(--yc-text-#{$name}-line-height);
}

@mixin reset-list-style() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin fixAnchorPosition($offset: 0px) {
    padding-top: $headerHeight;
    margin-top: -$headerHeight + $offset;
}

@mixin reset-link-style() {
    color: inherit;
    text-decoration: none;
}

@mixin islands-focus() {
    outline: none;

    .utilityfocus &:focus {
        outline: 2px solid #ffdb4d;
    }
}

@mixin link() {
    @include islands-focus();

    color: var(--yc-color-link);
    text-decoration: none;
    cursor: pointer;

    &:hover, &:active {
        --text-header-color: var(--yc-color-link-hover);
        color: var(--yc-color-link-hover);
    }
}

@mixin heading1() {
    color: var(--text-header-color);
    @include text-size(display3);
    font-weight: 500;

    .mobile & {
        @include text-size(display2);
    }
}

@mixin heading2() {
    color: var(--text-header-color);
    @include text-size(display1);
    font-weight: 500;
}

@mixin heading3() {
    color: var(--text-header-color);
    @include text-size(title);
    font-weight: 500;
}

@mixin heading4() {
    color: var(--text-header-color);
    @include text-size(header);
    font-weight: 500;
}

@mixin heading5() {
    color: var(--text-header-color);
    @include text-size(body3);
    font-weight: 500;
}

@mixin heading6() {
    color: var(--text-header-color);
    @include text-size(body3);
    font-weight: 400;
}
