@import 'themes/light.scss';

.yc-root {
    &_theme_light {
        @include yc-theme-light;

        --text-header-color: var(--yc-color-text-primary);
        --text-content-color: var(--yc-color-text-complementary);
    }
}
