{
    "extends": ["@diplodoc/eslint-config"],
    "env": {
        "node": true
    },
    "rules": {
        "@typescript-eslint/parameter-properties": "off"
    },
    "overrides": [
        {
            "files": ["*.spec.ts", "**/__tests__/*.ts"],
            "env": {
                "jest": true
            },
            "rules": {
                "@typescript-eslint/no-explicit-any": "off"
            }
        }
    ]
}
