node_modules
/build
/assets
/lib

.idea
.vscode
.history
.env
.DS_Store
.eslintrc.js
vitest.units.config.ts
vitest.integration.config.ts
/dist
/cache
/coverage
/external
/scripts
/tests/mocks

.lintstagedrc.js
.prettierrc.js
.stylelintrc.js
esbuild/**/*.mjs