.idea
.vscode
.history
.env
.DS_Store
.eslintrc.js
.lintstagedrc.js
.prettierrc.js
.stylelintrc.js
vitest.units.config.mjs
vitest.integration.config.ts
node_modules
/lib
/dist
/build
/cache
/coverage
/external
/tests/mocks
