.pdf-title-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 20px;
    height: calc(100vh - 200px);
}

img {
    width: 100px;
    height: 100px;
}