.TextInput {
    padding: 0 13px;
    width: 100%;
    height: 34px;
    font-size: 13px;

    border: 2px solid #d9d9d9;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    outline: none;

    transition: border-color .15s linear;

    &:focus {
        border-color: #b2b2b2;
    }
}
