.cc-mark {
    display: inline-block;
    font-family: 'YS Text', sans-serif;
    font-weight: bold;
    line-height: 1;

    &_color {
        &_blue {
            color: #67b0f8;
        }

        &_green {
            color: #56bd67;
        }
    }

    &_size {
        &_s {
            font-size: 10px;
            letter-spacing: 0.25px;
        }

        &_m {
            font-size: 12px;
            letter-spacing: 0.3px;
        }
    }
}
