on: workflow_dispatch

name: prerelease

permissions:
  id-token: write
  contents: read

jobs:
  prerelease:
    runs-on: ubuntu-latest
    if: github.ref_protected != true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install latest npm (>= 11.5.1)
        run: |
          [ "$(printf '%s\n' "11.5.1" "$(npm -v)" | sort -V | head -n1)" = "11.5.1" ] || npm install -g npm@latest
        shell: bash
      - run: npm ci
      - run: npm version --no-git-tag-version 0.0.0-rc-$(git branch --show-current)-${{github.run_id}}
      - run: npm publish --tag $(git branch --show-current)
      - working-directory: tests
        run: npm ci
      - working-directory: tests
        run: npm version --no-git-tag-version 0.0.0-rc-$(git branch --show-current)-${{github.run_id}}
      - working-directory: tests
        run: npm publish --tag $(git branch --show-current)
