on: workflow_dispatch

name: prerelease

jobs:
  prerelease:
    runs-on: ubuntu-latest
    if: github.ref_protected != true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - run: npm ci
      - run: npm version --no-git-tag-version 0.0.0-rc-$(git branch --show-current)-${{github.run_id}}
      - run: npm publish --no-tag
        env:
          NODE_AUTH_TOKEN: ${{secrets.ROBOT_DATAUI_NPM_TOKEN}}
      - working-directory: tests
        run: npm ci
      - working-directory: tests
        run: npm version --no-git-tag-version 0.0.0-rc-$(git branch --show-current)-${{github.run_id}}
      - working-directory: tests
        run: npm publish --no-tag
        env:
          NODE_AUTH_TOKEN: ${{secrets.ROBOT_DATAUI_NPM_TOKEN}}
