on: workflow_dispatch

name: prerelease

permissions:
  id-token: write
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    if: github.ref_protected != true
    outputs:
      version: ${{ steps.version.outputs.value }}
      tag: ${{ steps.tag.outputs.value }}
    steps:
      - uses: actions/checkout@v4
      - name: Calculate version
        id: version
        run: echo "value=0.0.0-rc-$(git branch --show-current)-${{github.run_id}}" >> $GITHUB_OUTPUT
        shell: bash
      - name: Calculate tag
        id: tag
        run: echo "value=$(git branch --show-current)" >> $GITHUB_OUTPUT
        shell: bash

  publish-main:
    needs: prepare
    uses: ./.github/workflows/publish.yaml
    permissions:
      id-token: write
      contents: read
    with:
      version: ${{ needs.prepare.outputs.version }}
      tag: ${{ needs.prepare.outputs.tag }}
      working-directory: '.'

  publish-tests:
    needs: prepare
    uses: ./.github/workflows/publish.yaml
    permissions:
      id-token: write
      contents: read
    with:
      version: ${{ needs.prepare.outputs.version }}
      tag: ${{ needs.prepare.outputs.tag }}
      working-directory: 'tests'
