on:
  push:
    branches: [master]

name: release

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        shell: bash
      - uses: codex-team/action-nodejs-package-info@v1
        id: package
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          token: ${{secrets.YC_UI_BOT_GITHUB_TOKEN}}
          release-type: node
          package-name: ${{steps.package.outputs.name}}
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"perf","section":"Performance Improvements","hidden":false},{"type":"deps","section":"Dependency update","hidden":false}]'
          bump-minor-pre-major: true
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.ROBOT_DATAUI_NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
