on:
  push:
    branches: [master]

name: release

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.package.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: codex-team/action-nodejs-package-info@v1
        id: package
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{secrets.YC_UI_BOT_GITHUB_TOKEN}}
          release-type: node

  publish-main:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    uses: ./.github/workflows/publish.yaml
    permissions:
      id-token: write
      contents: read
    with:
      version: ${{ needs.release.outputs.version }}
      tag: 'latest'
      working-directory: '.'

  publish-tests:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    uses: ./.github/workflows/publish.yaml
    permissions:
      id-token: write
      contents: read
    with:
      version: ${{ needs.release.outputs.version }}
      tag: 'latest'
      working-directory: 'tests'
