on:
  push:
    branches: [master]

name: release

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - name: Install latest npm (>= 11.5.1)
        run: |
          [ "$(printf '%s\n' "11.5.1" "$(npm -v)" | sort -V | head -n1)" = "11.5.1" ] || npm install -g npm@latest
        shell: bash
      - uses: codex-team/action-nodejs-package-info@v1
        id: package
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{secrets.YC_UI_BOT_GITHUB_TOKEN}}
          release-type: node
      - run: npm ci && npm publish
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
      - working-directory: tests
        run: |
          echo Publishing companion package with version ${{steps.package.outputs.version}}
          npm version ${{steps.package.outputs.version}}
          npm publish
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
